#container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  text-align:center;
}

body{
  font-family: 'PT Serif',serif;
}

h1 {
  text-align: center;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 3em;

}

.byline{
  font-family: "Montserrat";
  text-align: center;
  font-weight: 700;

}


.hed{
text-align: left;
font-family: "Montserrat", sans-serif;
font-size: 2em;
font-weight: 700;
padding-top: 20px;
width: 100%;
}


.preview{
 line-height:180%;
 font-family: "Montserrat", sans-serif;
 font-size: 1.25em;
 max-width: 800px;
 margin-top: 25px;
 margin-bottom: 25px;
 margin: 0 auto;
}

p{
  text-align:left;
   line-height:180%;
}

.red {
 color: #e0162b;
}

.blue {
 color: #0052a5;
}

.hero-image{
  width: 100%;
  margin: 0 auto;
  text-align: center;
}


.bg-dark {
 background:#000 !important;
}

ul.navbar-nav {
 margin-left:50%;
}

.navbar {
 font-family: 'Montserrat', sans-serif;
 font-size: 1.25em
}

/* unvisited link */
a:link {
    color: #e0162b;
}

/* visited link */
a:visited {
    color: #999;
}

/* mouse over link */
a:hover {
    color: #0052a5;
}

.star{
  width: 15px;
  margin-right: 5px;
}


footer{
  color: black;
  padding: 25px;
  height: 100px;
  font-family: "Montserrat";
}

.chaphead{
  font-family: "PT serif", serif;
  color: black;
  font-size: 1em;
}

.stack-image{
  width:100%;
max-width:900px;
margin:0 auto;
padding-top:30px;
height:100%;
}

.caption{
width:100%;
 max-width:900px;
 margin:0 auto;
 padding-bottom:30px;
 font-family: 'Montserrat', sans-serif;
 color:#999;
}


.graphic-container {
 padding-top:30px;
 padding-bottom:30px;
 border-top:1px solid #cdcdcd;
 border-bottom:1px solid #cdcdcd;
 font-family: 'Montserrat', sans-serif;
 margin:0 auto;
}
