#content{
  margin: 0 auto;
  width: 900px;
}

#byline{
  font-family: Helvetica, sans-serif;
font-size: 14px;
font-style: italic;
}

h1{
  font-family: Helvetica, sans-serif;
  font-size: 26px;
}

p{
  font-family: Georgia, serif;
  font-size: 13px;
}

.photo{
  margin: 0 auto;
  width:500px;
}

blockquote{
  font-size: 30px;
font-weight: bold;
}
