body{
  background-color: #FCFDFF;
}


#container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  text-align:center;
}

.navbar{
  position: fixed;
  width: 100%;
  background-color: transparent;
  border: none;
  color: white;
  z-index: 100;
  transition: background-color 1s ease 0s;
}

/* navbar code to be opaque from Erin Manahan */

.centered {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #840704;
}

byline{
  position: absolute;
  top: 83%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body{
  font-family: Georgia, serif;
}

h1 {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 3em;
}


h2{
  text-align:left;
  font-family: 'Raleway', sans-serif;
  color: #0B3351;
}

h4{
  font-family: 'Raleway', sans-serif;
  color: #0B3351;
}

h5{
  font-family: 'Raleway', sans-serif;
  color: #0B3351;
}

p{
  text-align:left;
}

blockquote{
  font-size: 1.5em;
  font-family: 'Raleway', sans-serif;
  color: #840704;
  margin-left: 200px;
  margin-right: 200px;
}

.row{
  margin-left: 20px;
  margin-right: 20px;
}

.hero p{
  position:relative;
  top: 300%;
  left: 140%;
  transform: translate(-50%, -50%);
  font-size: .5em;
}

.responsive{
  max-width: 100%;
  height: auto;
}

@media only screen and (max-width: 800px) {
  blockquote {
    margin:0;
  }
}

footer{
  text-align: center;
  background-color: black;
  color: #FCFDFF;
}
