h1{
  font-family: Georgia;
  font-size: 36px;

}

h2{
  font-family: Georgia;
  font-size: 24px;
  text-align: center;
}

h3{
  font-family: Georgia;
  font-size: 16px;
}

p{
font-family: Helvetica, Arial, sans-serif;
font-size: 12px;
}

body{
  font-size: 12px;
}

#byline{
  font-family: Georgia;
  font-size: 12px;
}

/* formatting for the first two photos only */
.photo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#map .photo{
  display: block;
  text-align: left;
}

#content{
  margin: 0 auto;
  width: 900px;
}

blockquote{
  font-size:36px;
  color: #cc0033;
  text-align: center;
}

.rname{
  font-weight: bold;
}

#image{
  font-size: 10px;
  text-align: center;
  font-style: italic;
}
