h1{
  font-family: Georgia;
  font-size: 24pt;

}

h2{
  font-family: Georgia;
  font-size: 14pt;
}

p{
font-family: Helvetica, Arial, sans-serif;
font-size: 12pt;
}

#byline{
  font-family: Georgia;
  font-size: 12pt;
}
