body{
  color: black;
  background-color: #white;
  font-family: verdana, arial, sans-serif;
}


.sectionheader{
  font-family: 'Marcellus SC', arial, serif;
  font-color: #584166;
}

h2{
  font-size: 1.5em;
  font-color: #584166;
}

h3{
  font-size: 1.125em;
  font-color: #584166;
}

h4{
  font-size: 1.087em;
}

h5{font-size: 1em;
font-weight:light;
}

.photo{
  border: solid;
  border-radius: 50px;
  margin-bottom: 20px;
}

#photo{
  color: #584166;
}

.jumbotron{
  padding:0;
  margin: 0px;
  margin-bottom: 30px;
}

#aboutme{
  padding-left: 10px;
}

.menu li{
  display: inline-block;
  padding: 7px;
}


#contact{
  text-align: center;
  display: block;
}


#contact{
  padding-left: 0px;
  padding-right: 15px;
  padding-bottom: 50px;
  padding-top: 50px;
  float:center;
}


#contact .photo .containter{
  background-color: black;
}

#coninfo{
  background-color: white;
}

#skills{
list-style-position: outside;
width:auto;

}

#education{
align: left;
}

.experience{
padding: 20px;
  background-color: #F9EFFF;;
}

.sectionheader h1{
  align: center;
}

#about{
  font-family: 'Marcellus SC', arial, serif;
  font-size:2em;
}

.education{
  background-color:white;
}

.skills{
  background-color: #F9EFFF;
}

.footer{
  margin: 0 auto;
}

.location{
  font-weight: bold;

}

.title{
  font-weight:bold;
}

#experience{
  margin-bottom: 25px;
}

blockquote{
  text-align: center;
  font-size: 1.1em;
  font-style:italic;
}

.education h3{
  font-weight: bold;
}

#time p{
  font-style: italic;
}
