body{
  color: #black;
  background-color: #white;
  font-family: verdana, arial, sans-serif;
}


.sectionheader{
  font-family: garamond, arial, serif;
}

h2{
  font-size: 1.5em;
}

h3{
  font-size: 1.25em;
}

h4{
  font-size: 1.125em;
}

.photo{
  border: solid;
  border-radius: 50px;
  margin-bottom: 20px;
}

.jumbotron{
  padding:0;
  margin: 0px;
  margin-bottom: 30px;
}

#aboutme{
  padding-left: 10px;
}

.menu li{
  display: inline-block;
  padding: 7px;
}


#contact{
  text-align: center;
  display: block;
}


#contact{
  padding-left: 0px;
  padding-right: 15px;
  padding-bottom: 50px;
  padding-top: 50px;
  float:center;
}


#contact .photo .containter{
  background-color: black;
}

#coninfo{
  background-color: white;
}

#skills{
list-style-position: outside;
width:auto;

}

#education{
align: left;
}

.experience{
padding: 20px;
  background-color: #F9EFFF;
}

.sectionheader h1{
  align: center;
}

#about{
  font-family: garamond, arial, serif;
  font-size:2em;
}

.education{
  background-color:white;
}

.skills{
  background-color: #F9EFFF;
}
